
<script th:src="@{/layui/layui.all.js}"></script>
<script th:inline="javascript">
    let $ = layui.$;
    let tree = layui.tree;
    let form = layui.form;
    let table = layui.table;
    let laytpl = layui.laytpl;
    let element = layui.element;
    let context = [[@{/}]];
    layui.extend({
        steps: '{/}'+context+'layui/lay/steps/steps'
    });
    let serverName =[[${#httpServletRequest.getServerName()}]];
    let serverPort =[[${#httpServletRequest.getServerPort()}]];
</script>
<script th:src="@{/js/config.js}"></script>