<form id="projectForm" class="layui-form" action="">
    <input type="hidden" name="id">
    <div class="layui-form-item">
        <label class="layui-form-label">项目名</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="" required
                   lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">git地址</label>
        <div class="layui-input-block">
            <input type="text" name="remotePath" value="" required
                   lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分支名称</label>
        <div class="layui-input-block">
            <input type="text" name="branchName" value="" required
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">上下文路径</label>
        <div class="layui-input-block">
            <input type="text" name="contextPath" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">端口</label>
        <div class="layui-input-block">
            <input type="number" name="port" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="projectFormBtn">保存</button>
        </div>
    </div>
</form>
