@charset "utf-8";
/* head */
.header {
    height: 65px;
    border-bottom: 1px solid #404553;
    background-color: #393D49;
    color: #fff;
}

.logo {
    position: absolute;
    left: 0;
    top: 18px;
    color: white;
    font-size: 22px;
}

.logo img {
    width: 82px;
    height: 31px;
}

.logo small {
    font-size: 10px;
    position: relative;
    top: -5px;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 2px 8px;
    vertical-align: super;
    border-radius: 57px;
    background: #7d8492;
}

.layui-nav-tree .layui-nav-child {
    padding-left: 5px;
}

.layui-layout-admin .layui-logo {
    width: auto;
    padding: 5px;
}
.component{ margin: 10px }
.component .layui-input{height: 30px; padding-left: 12px; background-color: #424652; background-color: rgba(255,255,255,.05); border: none 0; color: #fff; color: rgba(255,255,255,.5); font-size: 12px;}
.component .layui-form-select .layui-edge{display: none; border-top-color: #999;}
.component .layui-form-select dl{top: 36px; background-color: rgba(255,255,255,.9)}
.layui-nav .layui-nav-item1{position:relative;display:inline-block;*display:inline;*zoom:1;vertical-align:middle;line-height:60px}

.version {
    margin: 0;
    height: 20px;
    font-family: Titillium Web, sans-serif;
    color: #fff;
    position: relative;
    font-size: 10px;

    top: -15px;
    padding: 1px 3px;
    border-radius: 57px;
    background: #7d8492;
}

.api-type {
    margin: 0;
    font-family: Titillium Web, sans-serif;
    color: #fff;
    background-color: #0f6ab4;
    padding: 1px 3px;
    border-radius: 5px
}

.responseJson {
    padding: 0 0 50px 15px;
}

/* body */
.pl10 {
    padding-left: 10px
}

.hide {
    display: none
}

.site-content {
    padding: 0 10px 0 10px
}

.bg-grey {
    background-color: #7d8492;
}

.parameter-text {
    width: 100%;
}

.method-type {
    float: right;
    padding: 0px 0px 5px 0px;
}

.method {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-size: 0.7em;
    text-align: center;
    padding: 7px;
    margin-right: 5px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.delete {
    background-color: #a41e22;
}

.get {
    background-color: #0f6ab4;
}

.head {
    background-color: #ffd20f;
}

.options {
    background-color: #0f6ab4;
}

.patch {
    background-color: #D38042;
}

.post {
    background-color: #10a54a;
}

.put {
    background-color: #c5862b;
}

.delete_font {
    color: #999999;
}

.get_font {
    color: #0f6ab4;
}

.head_font {
    color: #ffd20f;
}

.options_font {
    color: #0f6ab4;
}

.patch_font {
    color: #D38042;
}

.post_font {
    color: #10a54a;
}

.put_font {
    color: #c5862b;
}

.ref_entity {
    background-color: #f9f9f9;
    font-weight: 500;
}

/*
.delete_body{backgroud-color:#faf5ee;}
.get_body{background-color: #ebf3f9;}
.head_body{background-color: #fcffcd;}
.options_body{background-color: #ebf3f9;}
.patch_body{background-color: #faf0ef;}
.post_body{background-color: #ebf7f0;}
.put_body{background-color: #faf5ee;}
*/

/*继承layui - start*/
.layui-table {
    color: #282b33 !important;
}

.layui-table th {
    font-weight: 600 !important;
}

.layui-side-scroll {
    width: 320px !important;
}

.layui-nav-tree {
    width: 220px !important;
}

.layui-layout-admin .layui-side {
    width: 220px !important;
}

.layui-body {
    left: 220px !important;
}

.layui-this a cite {
    color: #fff !important;
}

.layui-nav-tree .layui-nav-child, .layui-nav-tree .layui-nav-child a:hover {
    background-color: #41444c !important;
    color: #f2f2f2 !important;
}

.layui-nav-tree .layui-nav-child a {
    height: auto;
    line-height: 25px;
    color: #c2c2c2;
    border-bottom: 1px dashed;
    padding-bottom: 8px;
}

/*继承layui - end*/


.red {
    color: red
}


.footer {
    line-height: 44px;
    text-align: center;
    background-color: #eee;
    color: #666;
}

.footer a {
    padding: 0 5px;
}

.input-sm {
    padding: 3px 2px;
    height: 28px;
}

.json-text {
    width: 90%;
    /*height: 250px;*/
    font-size: 13px;
    min-height: 300px;
    font-family: inherit;
    line-height: 20px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
    font-style: inherit;
    font-weight: inherit;
    padding: 6px 10px;
    background-color: #fff;

}

#menu-filter{
    width: 280px;
}

.toolbar {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    line-height: 22px;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
    text-align: right;
}
.layui-layer-content .layui-form{
    width: 95%;
    margin: 10px;
}
.layui-layer-content .layui-form-label{
    width: 100px;
}
.layui-layer-content .layui-input-block{
    margin-left: 130px;
}

.layui-form-checkbox i {
    top: 5px!important;
}

.g-select {
    padding: 3px 2px;
    height: 28px;
    width: 100px;
    color: #393D4A;
    opacity: 0.9;
}
.param-div{
    max-height: 350px;
}
.layui-icon-addition-max{
    float: right;
    color: #5FB878;
    cursor: pointer;
}