<script id="menuTemplate" type="text/template">
    <div class="layui-layout layui-layout-admin"
         style="border-bottom: solid 3px #1aa094;">
        <div class="layui-header header " id="header">

            <div class="layui-logo">
                <span style="font-size: 22px;color: #fff">{{d.project.name}}</span>
                <small class="version">{{d.branch.name}}</small>
                <small class="version">{{d.env.name}}</small>
            </div>
            <ul class="layui-nav layui-layout-left">
                {{# $.each(d.menuList,(i,menu)=>{ }}
                <li class="layui-nav-item {{# if(menu.id == d.currHeaderMenuId){ }}layui-this{{# } }}">
                    <a href="javascript:switchMenu({{menu.id}});">{{menu.menuName}}</a>
                </li>
                {{# }) }}
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:openSwitch();">切换<!--弹框修改项目分支环境--></a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:void(0);">设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">新增项目</a></dd>
                        <dd><a href="javascript:;">项目管理</a></dd>
                        <dd><a href="javascript:;">git配置</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div id="menu-div">
            {{# $.each(d.menuList,(i,menu)=>{ }}
            <div class="layui-side layui-bg-black {{# if(menu.id != d.currHeaderMenuId){ }}layui-hide{{# } }}"
                 id="menu-dev-{{menu.id}}" title="{{menu.menuName}}">
                <div class="layui-side-scroll" id="admin-navbar-side" lay-filter="side">
                    <ul class="layui-nav layui-nav-tree  beg-navbar">
                        {{# $.each(menu.childrenMenu,(i,menu)=>{ }}
                        <li class="layui-nav-item layui-nav-itemed">
                            <a href="javascript:void(0);" data-class="{{menu.className}}">
                                <i class="fa fa-cogs" aria-hidden="true" data-icon="fa-cogs"></i>
                                <cite> {{menu.menuName }}</cite>
                                <br>
                                <span class="layui-nav-more"></span>
                            </a>
                            <dl class="layui-nav-child">
                                {{# $.each(menu.childrenMenu,(j,cm)=>{ }}
                                <dd title="{{cm.name}}">
                                    <a href="javascript:void(0);" name="a_path"
                                       operationId="operationId">
                                        <i class="fa fa-navicon" data-icon="fa-navicon"></i>
                                        <cite class="">{{cm.menuName}}</cite>
                                        {{# if(cm.api != null){ }}
                                        <br/>
                                        <small class="api-type">{{ApiType[cm.api.type]}}</small>
                                        <cite class="key_font">{{cm.api.path}}</cite>
                                        {{# } }}
                                    </a>
                                </dd>

                                {{# }) }}
                            </dl>
                        </li>
                        {{# }) }}
                    </ul>
                </div>
            </div>
            {{# }) }}
        </div>

    </div>

    <div class="layui-body site-content" id="path-body"
         style="border-left: solid 2px #1AA094;">
        <!--        body 内容 $ref = temp_body-->
    </div>
</script>
<script id="test" type="text/template">

</script>