<form id="envForm" class="layui-form" action="">
    <input type="hidden" name="id" value="">
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-block">
            <input type="text" name="name" value="" required
                   lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">域名</label>
        <div class="layui-input-block">
            <input type="text" name="domain" value="" required placeholder="http://localhost"
                   lay-verify="required" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">header key</label>
        <div class="layui-input-inline">
            <input type="text" name="header" value="" required placeholder="token,userNo"
                   lay-verify="required" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">多个逗号隔开</div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="envFormBtn">保存</button>
        </div>
    </div>
</form>
