<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lancabbage.gorgeous.mapper.ApiParamMapper">
  <resultMap id="BaseResultMap" type="com.lancabbage.gorgeous.bean.po.ApiParam">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="param_mode" jdbcType="INTEGER" property="paramMode" />
    <result column="param_name" jdbcType="VARCHAR" property="paramName" />
    <result column="param_describe" jdbcType="VARCHAR" property="paramDescribe" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="api_id" jdbcType="INTEGER" property="apiId" />
    <result column="data_type" jdbcType="VARCHAR" property="dataType" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, `type`, class_id, param_mode, param_name, param_describe, create_time, api_id,
    data_type
  </sql>
</mapper>