<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lancabbage.lancodeapi.mapper.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.lancabbage.lancodeapi.bean.po.Menu" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="api_id" jdbcType="INTEGER" property="apiId" />
    <result column="branch_id" jdbcType="INTEGER" property="branchId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbggenerated
    -->
    id, menu_name, class_name, create_time, parent_id, api_id, branch_id
  </sql>
</mapper>