<!--<script id="gitTemplate" type="text/template">-->
    <form id="gitForm" class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">本地仓库地址</label>
            <div class="layui-input-block">
                <input type="text" name="repositoryPath" value="" readonly
                       lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-block">
                <input type="text" name="username" value="" readonly
                       lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码</label>
            <div class="layui-input-block">
                <input type="password" name="password" value="" readonly
                       lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>
<!--</script>-->